.stock {
    padding-top: 98px;
    height: 584px;
}

.stock__inner {
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 250px;

    &__car {
        transform: translate(-2px, 7px);
    }

    &__info {
        width: calc(100% - 480px);
        background-color: $bg_color_secondary;
        display: flex;
        justify-content: space-between;
    }
}

.stock__watch-more {
    margin: -25px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    cursor: pointer;
    
    p {
        padding-bottom: 4px;
        font-size: 0.9rem;
        color: $font_color_secondary;
        border-bottom: 2px solid $font_color_secondary;
    }

    &__icon {
        width: 27px;
        height: 25px;
        background-image: url(/_assets/img/content/icon_sprite.png);
        background-position: -109px -12px;
    }
}