@font-face {
    font-family: 'PTSans Bold';
    src: url('/_assets/font/ptsans/PTSans-Bold.eot');
    src: url('/_assets/font/ptsans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/_assets/font/ptsans/PTSans-Bold.woff') format('woff'),
         url('/_assets/font/ptsans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}