/* @font-face {
font-family: 'Cera Round Pro Bold';
src: url('/assets/fonts/CeraRoundPro-Bold.otf');
src: url('/assets/fonts/CeraRoundPro-Bold.otf?#iefix') format('embedded-opentype'),
	 url('/assets/fonts/CeraRoundPro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'Cera Round Pro Light';
	src: url('/assets/fonts/CeraRoundPro-Light.otf');
	src: url('/assets/fonts/CeraRoundPro-Light.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera Round Pro Medium';
	src: url('/assets/fonts/CeraRoundPro-Medium.otf');
	src: url('/assets/fonts/CeraRoundPro-Medium.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera Round Pro Regular';
	src: url('/assets/fonts/CeraRoundPro-Regular.otf');
	src: url('/assets/fonts/CeraRoundPro-Regular.otf?#iefix') format('embedded-opentype'),
		url('/assets/fonts/CeraRoundPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria Medium';
	src: url('/assets/fonts/Geometria-Medium.otf');
	src: url('/assets/fonts/Geometria-Medium.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
} */