//Font
$font_main:             'Cera Round Pro Medium';


//Size
$font_main_size:     16px;
$font_main_weigth:   400;
$line_heigth_main:   1.5;

$desktop_width:      1920px;
$desktop_width_sm:   1124px;
$table_width_lg:     1080px;
$table_width:        868px;
$phone_width:        580px;
$phone_width_sm:     420px;

//Colors
$font_color_main:  #60759d;
 
$bg_color_main:    #fafaff;
$bg_color_alt:     #f1f3fb;

$bg_color_form:    linear-gradient(#e2ebf8, #e4e6f1);

$button_color:     #e70067;
$button_color_alt: #c9005a;