//Font
$font_main: 'Toyota Display', Arial, sans-serif;
$font_text: 'Toyota Text', Arial, sans-serif;
$font_alt:  'PTSans Bold', Arial, sans-serif;

//Size
$font_main_size:      18px;
$font_main_weigth:    400;
$line_heigth_main:    1.111;
$letter_spacing_main: 0.5px;

$desktop_width:      1920px;
$desktop_width_sm:   1124px;
$table_width_lg:     1080px;
$table_width:        868px;
$phone_width:        580px;
$phone_width_sm:     420px;

//Colors
$font_color_main:        #333333;
$font_color_alt:         #ffffff;
$font_color_secondary:   #e50000;

$menu_color_hover:       #e50000;
 
$bg_color_main:          #ffffff;
$bg_color_alt:           #333333;
$bg_color_secondary:     #f6f6f6;
$bg_color_form:          #f0f0f0;
$bg_color_map:           #f7f7f7;
$bg_color_footer:        #dadada;

$button_color_bg:        #e50000;
$button_color_alt:       #c9005a;
$button_color_hover:     #333333;

$block_shadow_color:     #f6f6f6;
$block_shadow_color_alt: #333333;

$span_line_color:        #999999;
$span_line_color_alt:    #f27f7f;