//Font
$mainFont:             'Cera Round Pro Medium';
$mainFontReg:          'Cera Round Pro Regular';
$mainFontBold:         'Cera Round Pro Bold';
$mainFontLight:        'Cera Round Pro Light';
$secondFont:           'Geometria Medium';

$thirdFont:            'Gilroy Bold';

//Size

$mainFontSize:      16px;
$mainFontWeight:    400;
$mainLineHeight:    1.5;

$desktopWidth:      1920px;
$smdesktopWidth:    1124px;
$lgtableWidth:      1080px;
$tableWidth:        868px;
$phoneWidth:        580px;
$smphoneWidth:      420px;

//Colors
$mainFontColor:     #60759d;
$secondFontColor:   #fff;    
$mainBgColor:       #fafaff; /* about & journal */
$secondBgColor:     #f1f3fb; /* functions */
$thirdBgColor:      #f1f3fc; /* specialists */
$fourthBgColor:     #39649d; /* footer */
$formBgColor:       linear-gradient(#e2ebf8, #e4e6f1);
$listMarkerColor:   #16afe0;
$spanBorderColor:   #bae2f5;
$btnColor:          #e70067;
$btnColorAlt:       #c9005a;
$placeholderColor:  #a8b2bf;