.contact {
    text-align: center;
    padding-top: 85px;
    height: 591px;
}

.contact__map {
    margin: 54px auto 0;
    height: 400px;
    background-image: url(/_assets/img/content/contact_map.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-color: $bg_color_map;
}