.contact {
    text-align: center;
    padding-top: 85px;
    height: 591px;
}

.contact__map {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    background-color: $bg_color_map;
}