.model__car {
    display: block;
    position: relative;
    transform: translate(0, 91px);
    

    &__special-price {
        position: absolute;
        transform: translate(356px, -173px);
        background-image: url(/_assets/img/content/model_special_price.png);
        width: 336px;
        height: 76px;
        white-space: pre-line;
        line-height: 24px;
        color: $font_color_alt;
        font-family: $font_text;
        letter-spacing: $letter_spacing_main;
    }

    &__background {
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        transform: translate(0, -27px);
    }

    p {
        transform: translate(53px, -31px);
    }
}