.model__content {
    padding-top: 66px;
    height: 716px;
    position: relative;
    transform: translate(0, -2px);

    &__info {
        padding-left: 32px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 430px;
    }

    &__button {
        transform: translate(-2px, 0);
    }
}

.info__row {
    display: flex;
    flex-direction: row;

    .benefit {
        margin-left: 125px;
    }

    .bonus {
        margin-left: 56px;
    }
}

.model__content__name {
    position: relative;
    margin-bottom: 25px;
    width: 237px;
    transform: translate(-1px, 1px);
    

    .model__name {
        margin-top: 20px;
        font-family: $font_main;
        color: $font_color_alt;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 76px;
        letter-spacing: unset;
        padding-left: 0;
    }

    p {
        margin-left: 30px;
        font-family: $font_text;
        font-size: 1.3rem;
        letter-spacing: $letter_spacing_main;
        padding-left: 1.5px;
    }
}

.info__item {
    margin-top: 37px;
    text-transform: uppercase;
    white-space: nowrap;

    span {
        margin-bottom: 7px;
        display: block;
        width: 50px;
        border-bottom: 3px solid $span_line_color;
    }

    .description {
        font-size: 0.7rem;
        font-weight: bold;
        
    }

    .amount {
        font-size: 1.9rem;
    }
}

.get-test-drive {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon{
        width: 30px;
        height: 30px;
        background-image: url(/_assets/img/content/icon_sprite.png);
        background-position: -12px -9px;
    }

    &__link {
        padding-top: 5px;
        padding-bottom: 2px;
        margin-left: 6px;
        font-size: 0.9rem;
        border-bottom: 1px solid $font_color_secondary;
    }
}

.get-offer {
    margin-top: 13px;
    margin-bottom: 11px;
    padding-bottom: 4px;
}

.get-cheaper {
    padding-top: 2px;
    margin-left: 127px;
    font-family: $font_text;
    font-size: 0.9rem;
    border-bottom: 3px dotted $font_color_secondary;
}

@media screen and (max-width: $table_width) {
    .model__content {
        padding-top: 0;
        width: 100%;
        height: auto;

        &__info {
            margin: 0 auto;
            padding-left: 0px;
            width: 400px;
        }
    }

    .model__content__info .gift {
        margin-top: 10px;
        text-align: center;

        span {
            margin: 0 auto 7px;
        }
    }

    .get-test-drive {
        margin-top: 13px;
    }

    .info__row {
        justify-content: space-between;

        .benefit {
            margin-left: 0px;
        }

        .bonus {
            margin-left: 0px;
            margin-right: 80px;
        }
    }

    .info__item {
        margin-top: 27px;

        .description {
            font-size: 0.7rem;
            font-weight: bold;
        }
    }

    .model__content__name {
        margin-bottom: 0px;
        width: 120px;
        transform: translate(0, -300px);

        .model__name {
            font-size: 1rem;
            line-height: 24px;
        }

        p {
            margin-left: 20px;
            font-size: 0.9rem;
        }
    }

    .model__content__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .model__car__background {
        transform: translate(0, 0);
    }
}

@media screen and (max-width: $phone_width) {
   .model__content__name {
       transform: translate(0, -220px);
   }

    .info__row {
        .bonus {
            margin-right: 74px;
        }
    }

    .model__content {
         &__info {
            width: 350px;
        }
    }
}

@media screen and (max-width: $phone_width_sm) {
    .model__content__name {
        transform: translate(0, -160px);
    }

    .info__row {
        .bonus {
            margin-right: 64px;
        }
    }

    .model__content {
        &__info {
            width: 250px;
        }
    }

    .model__content__info .gift {
        margin-top: 10px;
        text-align: left;

        span {
            margin: 0 0 7px 0;
        }
    }
}