.model {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 716px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 1200px;
        height: 100%;
        max-width: 1920px;
    }
}

@media screen and (max-width: $table_width_lg) {
    .model {
        height: 616px;
    }
}

@media screen and (max-width: $table_width) {
    .model {
        height: 800px;
        &__inner {
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: $phone_width) {
    .model {
        height: 740px;
    }
}

@media screen and (max-width: $phone_width_sm) {
    .model {
        height: 640px;
    }
}