.model {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 716px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 1200px;
        height: 100%;
        max-width: 1920px;
    }
}