html {
    font-family: $font_main;
    font-size: $font_main_size;
    color: $font_color_main;
    background-color: $bg_color_main;
    line-height: $line_heigth_main;
    height: 100%;

    @media screen and (max-width: $desktop_width_sm) {
        font-size: 15px;
        .model__inner,
        .benefit-select__inner,
        .stock__inner,
        .form__inner,
        .term__inner,
        .footer__inner {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media screen and (max-width: $table_width_lg) {
        font-size: 14px;
    }

    @media screen and (max-width: $table_width) {
        font-size: 13px;
    }

    @media screen and (max-width: $phone_width) {
        font-size: 12px;
        
        .form__inner {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    @media screen and (max-width: $phone_width_sm) {
        font-size: 11px;
    }

}

.page-wrapper {
    margin: 0 auto;
    width: 100%;
}

h1, h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.hidden {
    display: none;
}

.font-color-secondary {
    color: $font_color_secondary;
}

.span-line {
    margin: 14px auto;
    width: 80px;
    display: block;
    border-bottom: 3px solid $span_line_color_alt;
}