html {
    font-family: $font_main;
    font-size: $font_main_size;
    color: $font_color_main;
    background-color: $bg_color_main;
    line-height: $line_heigth_main;
    height: 100%;

    @media screen and (max-width: $desktop_width) {

    }

    @media screen and (max-width: $desktop_width_sm) {
        font-size: 15px;
    }

    @media screen and (max-width: $table_width_lg) {
        font-size: 14px;
    }

    @media screen and (max-width: $table_width) {
        font-size: 13px;
    }

    @media screen and (max-width: $phone_width) {

    }

    @media screen and (max-width: $phone_width_sm) {}

}

.page-wrapper {
    margin: 0 auto;
    width: 100%;
}

header, .model, .benefit-select, .stock {
    width: 100%;
}

h1, h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

.font-color-secondary {
    color: $font_color_secondary;
}

.span-line {
    margin: 14px auto;
    width: 80px;
    display: block;
    border-bottom: 3px solid $span_line_color_alt;
}