header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 0 5px 10px -2px $block_shadow_color;
}

.menu {
    display: flex;
    font-weight: bold;
    flex-basis: 1200px;
    height: 100%;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 1200px;
        padding-left: 34px;
        padding-right: 36px;
    }

    li {
        height: 100%;
        width: 133px;
        white-space: pre-line;
        text-align: center;
        padding-top: 23px;
        padding-bottom: 16px;

        &:hover {
            color: $font_color_alt;
            background-color: $menu_color_hover;
        }
    }
}