.benefit-select {
    position: relative;
    z-index: 2;
    height: 150px;
    background-color: $bg_color_alt;
    box-shadow: 0 10px 10px -2px $block_shadow_color;

    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1200px;
    }
}

.benefit-select__item {
    padding-top: 13px;
    padding-left: 18px;
    width: 300px;
    height: 150px;
    color: $font_color_alt;
    border-left: 1px solid transparentize($font_color_alt, .9);
    border-right: 1px solid transparentize($font_color_alt, .9);

    &:first-child {
        border-left: 2px solid transparentize($font_color_alt, .9);
    }

    &:last-child {
        border-right: 2px solid transparentize($font_color_alt, .9);
    }

    &__number {
        opacity: 0.3;
        margin-right: 7px;
        float: left;
        font-weight: bold;
        font-size: 2.8rem;
    }

    &__title {
        white-space: pre-line;
        line-height: 24px;
        letter-spacing: .75px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 14px;
        white-space: pre-line;
        font-family: $font_text;
        font-size: 0.8rem;
        line-height: 18px;
    }
}

.benefit-select__item:hover {
    background-color: $menu_color_hover;

    & .benefit-select__item__number {
        opacity: 1;
    }
}