.benefit-select {
    position: relative;
    z-index: 2;
    height: 150px;
    background-color: $bg_color_alt;
    box-shadow: 0 10px 10px -2px $block_shadow_color;

    &__inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 1200px;
    }
}

.benefit-select__item {
    padding-top: 13px;
    padding-left: 18px;
    width: 300px;
    height: 150px;
    color: $font_color_alt;
    border-left: 1px solid transparentize($font_color_alt, .9);
    border-right: 1px solid transparentize($font_color_alt, .9);

    &:first-child {
        border-left: 2px solid transparentize($font_color_alt, .9);
    }

    &:last-child {
        border-right: 2px solid transparentize($font_color_alt, .9);
    }

    &__number {
        opacity: 0.3;
        margin-right: 7px;
        float: left;
        font-weight: bold;
        font-size: 2.8rem;
    }

    &__title {
        white-space: pre-line;
        line-height: 24px;
        letter-spacing: .75px;
        text-transform: uppercase;
    }

    &__description {
        margin-top: 14px;
        white-space: pre-line;
        font-family: $font_text;
        font-size: 0.8rem;
        line-height: 18px;
    }
}

.benefit-select__item:hover {
    background-color: $menu_color_hover;

    & .benefit-select__item__number {
        opacity: 1;
    }
}

@media screen and (max-width: $table_width_lg) {
     .benefit-select {
         height: 120px;
     }

    .benefit-select__item {
        height: 120px;

        &__title {
            line-height: 18px;
            font-size: 0.8rem;
        }

        &__description {
            font-size: 0.7rem;
            line-height: 16px;
        }
    }
}

@media screen and (max-width: $table_width) {
    .benefit-select {
        height: 100px;
    }

    .benefit-select__item {
        height: 100px;

        &__number {
            font-size: 1.8rem;
        }

        &__title {
            line-height: 10px;
            font-size: 0.6rem;
        }

        &__description {
            font-size: 0.5rem;
            line-height: 14px;
        }
    }
}

@media screen and (max-width: $phone_width) {
    .benefit-select {
        height: 80px;
    }

    .benefit-select__item {
        height: 80px;
        padding-left: 5px;

        &__number {
            font-size: 1.3rem;
        }

        &__title {
            line-height: 8px;
            font-size: 0.45rem;
        }

        &__description {
            margin-top: 10px;
            font-size: 0.4rem;
            line-height: 10px;
        }
    }
}

@media screen and (max-width: $phone_width_sm) {
    .benefit-select {
        height: 160px;

        &__inner {
            margin: 0 auto;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .benefit-select__item {
        margin: 0 auto;
        display: flex;
        padding-top: 5px;
        height: 40px;

        &__number {
            font-size: 30px;
            width: 40px;
        }

        &__title {
            line-height: 14px;
            font-size: 0.8rem;
            width: 92px;
        }

        &__description {
            margin-top: 0px;
            margin-left: 0px;
            font-size: 0.6rem;
            line-height: 10px;
            width: 120px;
        }

        &:first-child {
            border-left: 1px solid transparentize($font_color_alt, .9);
        }

        &:last-child {
            border-right: 1px solid transparentize($font_color_alt, .9);
        }
    }
}