.footer {
    height: 80px;
    background-color: $bg_color_footer;

    &__inner {
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 1px;
        max-width: 1200px;
        font-family: $font_text;
        font-size: 0.8rem;
        letter-spacing: -0.1px;
        color: transparentize($font_color_main, 0.6)
    }
}

@media screen and (max-width: $phone_width) {
    .footer {
        height: 40px;

        &__inner {
            padding-top: 10px;
        }
    }
}